# Exercises

The end result of this exercise should be a file named prepare.py that defines the requested functions.

In this exercise we will be defining some functions to prepare textual data. These functions should apply equally well to both the codeup blog articles and the news articles that were previously acquired.

In [21]:
import pandas as pd

import unicodedata
import re

import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/nickolaspedrimiranda/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     /Users/nickolaspedrimiranda/nltk_data...

True

## 1. Define a function named basic_clean. It should take in a string and apply some basic text cleaning to it:

* Lowercase everything
* Normalize unicode characters
* Replace anything that is not a letter, number, whitespace or a single quote.

In [2]:
def basic_clean(filthy_data):
    filthy_data = filthy_data.lower()
    filthy_data = unicodedata.normalize('NFKD', filthy_data).encode('ascii', 'ignore').decode('utf-8', 'ignore')
    clean_data = re.sub(r"[^a-z0-9'\s]", "", filthy_data)
    return clean_data

## 2. Define a function named tokenize. It should take in a string and tokenize all the words in the string.

In [3]:
def tokenize(data):
    tokenizer = ToktokTokenizer()
    data = tokenizer.tokenize(data, return_str=True)
    return data

## 3. Define a function named stem. It should accept some text and return the text after applying stemming to all the words.

In [4]:
def stem(data):
    ps = nltk.porter.PorterStemmer()
    stems = [ps.stem(word) for word in data.split()]
    stemmed_data = ' '.join(stems)
    return stemmed_data

## 4. Define a function named lemmatize. It should accept some text and return the text after applying lemmatization to each word.

In [5]:
def lemmatize(data):
    wnl = nltk.stem.WordNetLemmatizer()
    lemmas = [wnl.lemmatize(word) for word in data.split()]
    lemmatized_data = ' '.join(lemmas)
    return lemmatized_data

## 5. Define a function named remove_stopwords. It should accept some text and return the text after removing all the stopwords.

This function should define two optional parameters, extra_words and exclude_words. These parameters should define any additional stop words to include, and any words that we don't want to remove.

In [6]:
def remove_stopwords(data, exclude=[], include=[]):
    stopwords_list = stopwords.words('english')
    words = [word for word in data.split() if word not in stopwords_list]
    new_data = ' '.join(words)
    return new_data

In [28]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

## 6. Use your data from the acquire to produce a dataframe of the news articles. Name the dataframe news_df.

In [7]:
news = pd.read_csv('news.csv')
news = news.rename(columns={'content':'original'})
news = news.drop(columns='category')

In [8]:
news.head()

,title,original
0,Govt probing accounts of Adani Group-run Mumba...,The Ministry of Corporate Affairs has opened a...
1,IndiGo Co-founder Gangwal to buy SpiceJet stak...,IndiGo Co-founder Rakesh Gangwal is at advance...
2,"Who is KP Ramasamy, a farmer's son who entered...",KP Ramasamy has made his debut on Forbes India...
3,"Zomato, McDonald's fined ₹1 lakh for deliverin...",Food delivery platform Zomato and fast food ch...
4,India scraps plan to impose restrictions on la...,The Indian government has reversed its decisio...

## 7. Make another dataframe for the Codeup blog posts. Name the dataframe codeup_df.

In [9]:
codeup = pd.read_csv('codeup_blogs.csv')
codeup = codeup.rename(columns={'content':'original'})
codeup = codeup.dropna()

In [10]:
codeup.head()

,title,original
0,Spotlight on APIDA Voices: Celebrating Heritag...,May is traditionally known as Asian American a...
1,Women in tech: Panelist Spotlight – Magdalena ...,Codeup is hosting a Women in Tech Panel in hon...
2,Women in tech: Panelist Spotlight – Rachel Rob...,Codeup is hosting a Women in Tech Panel in hon...
3,Women in Tech: Panelist Spotlight – Sarah Mellor,Codeup is hosting a Women in Tech Panel in hon...
4,Women in Tech: Panelist Spotlight – Madeleine ...,Codeup is hosting a Women in Tech Panel in hon...

## 8. For each dataframe, produce the following columns:

* 'title' to hold the title
* 'original' to hold the original article/post content
* 'clean' to hold the normalized and tokenized original with the stopwords removed.
* 'stemmed' to hold the stemmed version of the cleaned data.
* 'lemmatized' to hold the lemmatized version of the cleaned data.

In [11]:
def clean_column(series):
    new_series = []
    #i = 0
    for col in series:
        #print(type(blog), i)
        #i+=1
        data = basic_clean(col)
        data = tokenize(data)
        data = remove_stopwords(data)
        new_series.append(data)
    return new_series

In [12]:
codeup['clean'] = clean_column(codeup.original)
codeup.head()

,title,original,clean
0,Spotlight on APIDA Voices: Celebrating Heritag...,May is traditionally known as Asian American a...,may traditionally known asian american pacific...
1,Women in tech: Panelist Spotlight – Magdalena ...,Codeup is hosting a Women in Tech Panel in hon...,codeup hosting women tech panel honor womens h...
2,Women in tech: Panelist Spotlight – Rachel Rob...,Codeup is hosting a Women in Tech Panel in hon...,codeup hosting women tech panel honor womens h...
3,Women in Tech: Panelist Spotlight – Sarah Mellor,Codeup is hosting a Women in Tech Panel in hon...,codeup hosting women tech panel honor womens h...
4,Women in Tech: Panelist Spotlight – Madeleine ...,Codeup is hosting a Women in Tech Panel in hon...,codeup hosting women tech panel honor womens h...

In [13]:
news['clean'] = clean_column(news.original)
news.head()

,title,original,clean
0,Govt probing accounts of Adani Group-run Mumba...,The Ministry of Corporate Affairs has opened a...,ministry corporate affairs opened investigatio...
1,IndiGo Co-founder Gangwal to buy SpiceJet stak...,IndiGo Co-founder Rakesh Gangwal is at advance...,indigo cofounder rakesh gangwal advanced stage...
2,"Who is KP Ramasamy, a farmer's son who entered...",KP Ramasamy has made his debut on Forbes India...,kp ramasamy made debut forbes india ' 100 rich...
3,"Zomato, McDonald's fined ₹1 lakh for deliverin...",Food delivery platform Zomato and fast food ch...,food delivery platform zomato fast food chain ...
4,India scraps plan to impose restrictions on la...,The Indian government has reversed its decisio...,indian government reversed decision imposing r...

In [14]:
def stem_column(series):
    stemmed_data = []
    for col in series:
        data = stem(col)
        stemmed_data.append(data)
    return stemmed_data

In [15]:
codeup['stemmed'] = stem_column(codeup.clean)
codeup.head()

,title,original,clean,stemmed
0,Spotlight on APIDA Voices: Celebrating Heritag...,May is traditionally known as Asian American a...,may traditionally known asian american pacific...,may tradit known asian american pacif island a...
1,Women in tech: Panelist Spotlight – Magdalena ...,Codeup is hosting a Women in Tech Panel in hon...,codeup hosting women tech panel honor womens h...,codeup host women tech panel honor women histo...
2,Women in tech: Panelist Spotlight – Rachel Rob...,Codeup is hosting a Women in Tech Panel in hon...,codeup hosting women tech panel honor womens h...,codeup host women tech panel honor women histo...
3,Women in Tech: Panelist Spotlight – Sarah Mellor,Codeup is hosting a Women in Tech Panel in hon...,codeup hosting women tech panel honor womens h...,codeup host women tech panel honor women histo...
4,Women in Tech: Panelist Spotlight – Madeleine ...,Codeup is hosting a Women in Tech Panel in hon...,codeup hosting women tech panel honor womens h...,codeup host women tech panel honor women histo...

In [16]:
news['stemmed'] = stem_column(news.clean)
news.head()

,title,original,clean,stemmed
0,Govt probing accounts of Adani Group-run Mumba...,The Ministry of Corporate Affairs has opened a...,ministry corporate affairs opened investigatio...,ministri corpor affair open investig account a...
1,IndiGo Co-founder Gangwal to buy SpiceJet stak...,IndiGo Co-founder Rakesh Gangwal is at advance...,indigo cofounder rakesh gangwal advanced stage...,indigo cofound rakesh gangwal advanc stage tal...
2,"Who is KP Ramasamy, a farmer's son who entered...",KP Ramasamy has made his debut on Forbes India...,kp ramasamy made debut forbes india ' 100 rich...,kp ramasami made debut forb india ' 100 riches...
3,"Zomato, McDonald's fined ₹1 lakh for deliverin...",Food delivery platform Zomato and fast food ch...,food delivery platform zomato fast food chain ...,food deliveri platform zomato fast food chain ...
4,India scraps plan to impose restrictions on la...,The Indian government has reversed its decisio...,indian government reversed decision imposing r...,indian govern revers decis impos restrict lapt...

In [17]:
def lem_column(series):
    lem_data = []

    for col in series:
        data = lemmatize(col)
        lem_data.append(data)
    return lem_data

In [22]:
codeup['lemmatized'] = lem_column(codeup.clean)
codeup.head()

,title,original,clean,stemmed,lemmatized
0,Spotlight on APIDA Voices: Celebrating Heritag...,May is traditionally known as Asian American a...,may traditionally known asian american pacific...,may tradit known asian american pacif island a...,may traditionally known asian american pacific...
1,Women in tech: Panelist Spotlight – Magdalena ...,Codeup is hosting a Women in Tech Panel in hon...,codeup hosting women tech panel honor womens h...,codeup host women tech panel honor women histo...,codeup hosting woman tech panel honor woman hi...
2,Women in tech: Panelist Spotlight – Rachel Rob...,Codeup is hosting a Women in Tech Panel in hon...,codeup hosting women tech panel honor womens h...,codeup host women tech panel honor women histo...,codeup hosting woman tech panel honor woman hi...
3,Women in Tech: Panelist Spotlight – Sarah Mellor,Codeup is hosting a Women in Tech Panel in hon...,codeup hosting women tech panel honor womens h...,codeup host women tech panel honor women histo...,codeup hosting woman tech panel honor woman hi...
4,Women in Tech: Panelist Spotlight – Madeleine ...,Codeup is hosting a Women in Tech Panel in hon...,codeup hosting women tech panel honor womens h...,codeup host women tech panel honor women histo...,codeup hosting woman tech panel honor woman hi...

In [23]:
news['lemmatized'] = lem_column(news.clean)
news.head()

,title,original,clean,stemmed,lemmatized
0,Govt probing accounts of Adani Group-run Mumba...,The Ministry of Corporate Affairs has opened a...,ministry corporate affairs opened investigatio...,ministri corpor affair open investig account a...,ministry corporate affair opened investigation...
1,IndiGo Co-founder Gangwal to buy SpiceJet stak...,IndiGo Co-founder Rakesh Gangwal is at advance...,indigo cofounder rakesh gangwal advanced stage...,indigo cofound rakesh gangwal advanc stage tal...,indigo cofounder rakesh gangwal advanced stage...
2,"Who is KP Ramasamy, a farmer's son who entered...",KP Ramasamy has made his debut on Forbes India...,kp ramasamy made debut forbes india ' 100 rich...,kp ramasami made debut forb india ' 100 riches...,kp ramasamy made debut forbes india ' 100 rich...
3,"Zomato, McDonald's fined ₹1 lakh for deliverin...",Food delivery platform Zomato and fast food ch...,food delivery platform zomato fast food chain ...,food deliveri platform zomato fast food chain ...,food delivery platform zomato fast food chain ...
4,India scraps plan to impose restrictions on la...,The Indian government has reversed its decisio...,indian government reversed decision imposing r...,indian govern revers decis impos restrict lapt...,indian government reversed decision imposing r...

In [25]:
news.clean.iloc[0]

'ministry corporate affairs opened investigation accounts adani grouprun mumbai navi mumbai airports significant part information sought government pertains period fiscal 2018 2022 prior acquisition adani enterprises said company stated units respond communications applicable legal provisions'

In [26]:
news.lemmatized.iloc[0]

'ministry corporate affair opened investigation account adani grouprun mumbai navi mumbai airport significant part information sought government pertains period fiscal 2018 2022 prior acquisition adani enterprise said company stated unit respond communication applicable legal provision'

## 9. Ask yourself:

* If your corpus is 493KB, would you prefer to use stemmed or lemmatized text?
* If your corpus is 25MB, would you prefer to use stemmed or lemmatized text?
* If your corpus is 200TB of text and you're charged by the megabyte for your hosted computational resources, would you prefer to use stemmed or lemmatized text?

In [27]:
# FOR THE 200TB OF TEXT I WOULD STEM, BECAUSE IT WOULD BE FAR TOO COMPUTATIONALLY DEMANDING TO LEMMATIZE IT ESPECIALLY ON PAID COMPUTATIONAL RESOURCES.